/*
vars
*/
$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;




body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $red;
  font-weight: 500;
  font-style: normal;
}

a{
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;
    color: $white;
    font-size: 19px;
    line-height: normal;
    &:hover{
      color: $gold;
      @include transition(.4s ease-in-out);
    }
}
.headerh1{
  margin-top: 25px;
  margin-left: 50px;
  float:right;
  text-align: center;
}
.container-fluid{
  line-height: 24px;
  float: left;
  width: 85%;
  background: $white;
  height: 480px;
  padding-top: 30px;
}

img{
  height: 90px;
  float:left;
  width: 100px;
}
.navigationSection{
  line-height: 50px;
  float: right;
  width: 15%;
}





.footerClass{
  background-color: $red;
  color: $yellow;
  text-align: center;
  font-size: 28px;
}
.date{
  font-size: 14px;
  color: $blue;
}

